- model_class = Movie
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:cast)
      %th= model_class.human_attribute_name(:ratting)
      %th= model_class.human_attribute_name(:director_id)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to movie.id, movie_path(movie)
        %td= movie.title
        %td= movie.cast
        %td= movie.ratting
        %td= movie.director_id
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),   
            edit_movie_path(movie), :class => 'btn btn-default btn-xs' 
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            movie_path(movie),                                            
            :method => :delete,                                           
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger'                                                                           
= link_to t('.new', :default => t("helpers.links.new")), 
  new_movie_path,                                        
  :class => 'btn btn-primary'                            
